<h1 class="rainbow-text">BURGERS!</h1>
<img src="/assets/burger.png" alt="A Hamburger">

<h2>Here's our Burgers!</h2>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <h3>READY FOR EATING!</h3>
            <ul id="burgerList">
                {{#each Burgers}}
                {{#unless devoured}}

                <p>Burger {{id}}: {{burger_name}} <button name={{id}} type="submit">Devour
                        IT!</button></p>

                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-3">
            <h3>DEVOURED!</h3>
            <ul class="devoured">
                {{#each Burgers}}
                {{#if devoured}}

                <p>Burger {{id}}: {{burger_name}}</p>

                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<h4>Add a Burger</h4>
<form id="burger" class="container">
    <label>BURGER: <input type="text" name="burger_name"></label>
    <br><br>
    <button type="submit">Add a Burger!</button>
</form>